<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="Mobilestore iphone web template, Android web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />	
    @Styles.Render("~//Content/css")
</head>
<body>
    <div class="wrap">
        <div class="header">
            <div class="search-bar">
                <form>
                    <input type="text"><input type="submit" value="Search" />
                </form>
            </div>
            <div class="clear"> </div>
            <div class="header-top-nav">
                <ul>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Delivery</a></li>
                    <li><a href="#">Checkout</a></li>
                    <li><a href="#">My account</a></li>
                    <li><a href="#"><span>shopping cart&nbsp;&nbsp;: </span></a><label> &nbsp;noitems</label></li>
                </ul>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
    <div class="clear"> </div>
    <div class="top-header">
        <div class="wrap">

            <div class="logo">
                <a href="index.html"><img src="/Content/images/logo.png" title="logo" /></a>
            </div>

            <div class="top-nav">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="store.html">Store</a></li>
                    <li><a href="store.html">Featured</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="clear"> </div>
        </div>
    </div>

    @RenderBody()

    <div class="footer">
        <div class="wrap">
            <div class="section group">
                <div class="col_1_of_4 span_1_of_4">
                    <h3>Our Info</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h3>Latest-News</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h3>Store Location</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <h3>Order-online</h3>
                    <p>080-1234-56789</p>
                    <p>080-1234-56780</p>
                </div>
                <div class="col_1_of_4 span_1_of_4 footer-lastgrid">
                    <h3>News-Letter</h3>
                    <form>
                        <input type="text"><input type="submit" value="go" />
                    </form>
                    <h3>Follow Us:</h3>
                    <ul>
                        <li><a href="#"><img src="/Content/images/twitter.png" title="twitter" />Twitter</a></li>
                        <li><a href="#"><img src="/Content/images/facebook.png" title="Facebook" />Facebook</a></li>
                        <li><a href="#"><img src="/Content/images/rss.png" title="Rss" />Rss</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="clear"> </div>
        <div class="wrap">
            <div class="copy-right">
                website ban hang 2017
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/responsiveslides")
    <script>
        $(function () {
            $("#slider1").responsiveSlides({
                maxwidth: 1600,
                speed: 600
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
